@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  font-family: Lucida Console, Courier New, monospace; */
}

.group{
  /* border: 1px solid grey; */
  box-shadow: 0px 0px 5px grey;
}

.group:hover{

}

.container-div {
  background-image: url('./assets/images/clothing-store-flat-set-people-buying-trying-new-clothes-fitting-room-isolated-vector-illustration_1284-79311.jpg');
}

a {
  line-height: 2;
}

a:hover {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}